body {
  background-color: #f0f4f9;
}
.App {
  text-align: center;
}

.trend-container {
  width: 100%;
  margin: auto;
}

.trend-title {
  text-align: left;
  padding-top: 20px;
}

.numbers-containers {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

.data-containe {
  display: flex;
  flex-flow: column;
}

.dashboard-container {
  display: flex;
  flex-flow: row;
  margin-left: 40px;
}
