body {
  background-color: #f0f4f9;
}
.App {
  text-align: center;
}

.trend-container {
  width: 100%;
  margin: auto;
}

.rating-container {
  width: 100%;
  display: flex;
  flex-flow: row;
}

.trend-title {
  text-align: left;
  padding-top: 20px;
}

.numbers-containers {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  padding-bottom: 10px;
  align-items: flex-start;
}

.data-container {
  display: flex;
  flex-flow: column;
}

.dashboard-container {
  display: flex;
  flex-flow: row;
  margin-left: 40px;
}

.box-container {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

.header-charts {
  display: flex;
  flex-flow: row;
}

.result-charts {
  display: flex;
  flex-flow: row;
}

.most-player-container {
  margin-left: auto;
}

.player-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 20px;
  background-color: #f0f4f9;
  margin: 15px;
  border-radius: 25px;
  justify-content: center;
}

.player-name {
  padding-right: 10px;
}

.rival-container {
  display: flex;
  flex-flow: column;
}

.monthly-years-dd-container {
  padding: 20px;
}
